<!-- ko if: (enable) -->
<fieldset class="fieldset address">
    <div class="field">
        <label class="label" data-bind="attr: { for: uid }">
            <span data-bind="text: getLabel()"></span>
        </label>
        <textarea class="admin__control-textarea" data-bind="
            value: value,
            valueUpdate: valueUpdate,
            hasFocus: focused,
            attr: {
                name: inputName,
                cols: cols,
                rows: rows,
                'aria-describedby': noticeId,
                placeholder: placeholder,
                id: uid,
                disabled: disabled
            }"
        />
    </div>
</fieldset>
 <!-- /ko -->
